@model Sfa.Das.ApprenticeshipInfoService.Health.Models.HealthModel
<html>
<head>
    <title>Health</title>
    <meta name="robots" content="noindex">
    <meta http-equiv="refresh" content="120">
    <style>
        body {
            background-color: whitesmoke;
            font-family: Georgia, Cambria, Times, serif;
            color: rgb(0, 0, 0);
            color: rgba(0, 0, 0, .8);
        }

        .container {
            width: 1000px;
            margin: 50px auto;
            padding: 5px 10px;
            background-color: white;
        }

            .container h2 {
                color: rgb(0, 0, 0);
                color: rgba(0, 0, 0, .8);
                padding: 10px;
            }

            .container .status {
                padding: 20px;
                min-height: 10px;
            }

                .container .status > div {
                    font-weight: bold;
                    padding: 10px;
                }

            .container .elasticsearch {
                padding: 20px;
                min-height: 10px;
            }

        dl.table-display {
            background-color: white;
            display: table;
            width: 60%;
            margin-bottom: 30px;
        }

            dl.table-display dt {
                clear: left;
                float: left;
                width: 220px;
                margin: 0;
                padding: 5px;
                font-weight: bold;
            }

            dl.table-display dd {
                margin-left: 230px;
                padding: 5px;
            }

                dl.table-display dd.first {
                    border-top: 1px solid #999;
                }

        .services {
            padding: 20px;
        }

            .services > div {
                padding: 1px;
            }

        .status-lbl.red {
            border-bottom: 5px solid red;
        }

        .status-lbl.green {
            border-bottom: 5px solid green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="status">
            <h2>
                Health
            </h2>
            <div>
                <span>Last updated: @DateTime.Now.ToString("g")</span>
            </div>
            <div>
                <span class="status-lbl @Model.Status.ToString().ToLower()">
                    @Model.Status
                </span>
            </div>
            <div class="messages">
                @foreach (var message in @Model.Errors)
                {
                    <span>
                        @message
                    </span>
                }
            </div>
        </div>
        <div class="elasticsearch">
            <dl class="table-display">
                <dt>Core Aliases Exist: </dt>
                <dd>
                    <span class="status-lbl @Model.CoreAliasesExistStatus.ToString().ToLower()">
                            @Model.CoreAliasesExistStatus
                        </span>
                </dd>
            </dl>
            @foreach (var alias in Model.ElasticSearchAliases.OrderBy(al => al.AliasName))
            {
                <dl class="table-display">
                    <dt>Alias name: </dt>
                    <dd>@alias.AliasName</dd>
                    <dt>Index name: </dt>
                    <dd>@alias.IndexName</dd>
                    <dt>Health: </dt>
                    <dd>@alias.Health</dd>
                    <dt>Document count: </dt>
                    <dd>@alias.DocumentCount</dd>
                </dl>
            }
            <div>
                <dl class="table-display">
                    <dt>Elasticsearch error count: </dt>
                    <dd>@Model.ElasticsearchLog.ErrorCount</dd>
                    <dt>Messages: </dt>
                    <dd>
                        @if (!Model.ElasticsearchLog.LogErrors.Any())
                        {
                            <span>No errors</span>
                        }
                        else
                        {
                            foreach (var messages in Model.ElasticsearchLog.LogErrors)
                            {
                                <span>@messages</span><br />
                            }
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="services">
            <dl class="table-display">
                <dt>Lars Download Page: </dt>
                <dd>
                    <span class="status-lbl @Model.LarsFilePageStatus.ToString().ToLower()">
                        @Model.LarsFilePageStatus
                    </span>
                </dd>
                <dt>Lars Zip File Status: </dt>
                <dd>
                    <span class="status-lbl @Model.LarsZipFileStatus.ToString().ToLower()">
                        @Model.LarsZipFileStatus
                    </span>
                </dd>
                <dt>Course Directory Status: </dt>
                <dd>
                    <span class="status-lbl @Model.CourseDirectoryStatus.ToString().ToLower()">
                        @Model.CourseDirectoryStatus
                    </span>
                </dd>
                <dt>Ukrlp Status: </dt>
                <dd>
                    <span class="status-lbl @Model.UkrlpStatus.ToString().ToLower()">
                        @Model.UkrlpStatus
                    </span>
                </dd>
                <dt>Fechoices Status: </dt>
                <dd>
                    <span class="status-lbl @Model.FEChoices.ToString().ToLower()">
                        @Model.FEChoices
                    </span>
                </dd>
            </dl>
        </div>

    </div>

</body>
</html>